.movie-page {
  display: flex;
  flex-direction: column;
  align-items: center;

  .video-player {
    // width: 400px;
    height: max-content;
    width: inherit;
  }
  .player-info {
    // width: 400px;
    height: auto;
    // height: 300px;
    width: -moz-available;
    color: white;
    background-color: #46464699;
  }
}
