.avatar-container {
  // border: 3px solid;
  // width: 50px;
  // height: 50px;
  /* background-size: cover; */
  /* background-position: center; */
  border-radius: 50%;
  overflow: hidden;
  justify-content: center;
  margin-right: 10px;
  .image {
    // max-width: 100%;
    max-height: 100%;
    cursor: pointer;
    // width: 100%;
    // background-size: cover;
    // background-position: center;
  }

  .form-control {
    display: none;
  }
}
