.footer {
  height: 70px;
  width: 100%;
  display: flex;
  // justify-content: space-between;
  background-color: black;
  color: white;
  justify-content: center;
  align-items: center;
  /* position: absolute; */
  // bottom: 0;
  // position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  margin-top: 25px;
}
