// .profile-page {
// display: flex;
// flex-direction: row;
// justify-content: space-evenly;
// }

.page-title {
  color: white;
  font-size: 50px;
  //   background-color: green;
  text-align: center;
}
