.cardGrid {
  display: flex;
}

.movie-box {
  display: flex;
  cursor: pointer;
}

.seen {
  opacity: 0.5;
}

.hover-info {
  opacity: 0;
  color: white;
  position: absolute;
  // margin: 20px;
}

.movie-box:hover {
  // display: flex;
  img {
    opacity: 0.3;
  }
  .hover-info {
    opacity: 1;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // position: fixed;
    // color: black;
    // align-content: flex-start;
  }
}

// .cardGrid {
//   display: flex;
// }

// .movie-box {
//   display: flex;
// }

// .hover-info {
//   opacity: 0;
//   color: white;
//   position: absolute;
//   // margin: 20px;
// }
