.sign-up {
    background: #8e2de2; /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #8e2de2, #4a00e0); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #8e2de2, #4a00e0);
    border-radius: 20px;
    margin: 20px;
padding: 30px;
}