.sign-up {
  background: #8e2de2; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #9f5edb,
    #3343d4
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #9f5edb, #3343d4);
  border-radius: 20px;
  margin: 20px;
  padding: 30px;
  text-align: center;
}
